{% extends 'base.html' %}

{% block content %}
<div class='second-component-body'>
    <div class='second-component-content-wrapper'>
        <div class='second-component-content-image-wrapper'>
            <img src="../static/images/main_screen_second_component.png" alt='meeting'
                class='second-component-content-image' />
        </div>
        <div class='second-component-content-text-wrapper'>
            <p class='second-component-content-text'>
                Easy Plan - единое пространство управления командными и индивидуальными проектами
            </p>
        </div>
    </div>
</div>
{% endblock %}
